@charset "UTF-8";
/* CSS Document */
html{
}
body{
	width:810px;
	margin:0px auto;
	padding:0px;
	overflow:hidden;
}
/**********
HEADER
***********/
#header{
}
/**********
MAIN MENU
***********/
#menu_main{
}
/**********
CONTENT
***********/
#content{
     /* add padding to the bottom to adjust for absolute footer */
}
/**********
FOOTER
***********/
#footer-wrapper {
     position: absolute;
     bottom: 0px;
     display: block;
     width: 100%;
}
#footer{
}
/**********
CONTAINER
***********/
#pre_like .container_6 {
	height:1000px;
	margin:0px auto;
	background-image:url(../../images/tab/pre_like.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	position:relative;
}
#post_like .container_6 {
	height:1000px;
	margin:0px auto;
	background-image:url(../../images/tab/post_like.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	position:relative;
}

/**********
POST_LIKE
***********/
#link-www {
	width:190px;
	height:40px;
	display:block;
	position:absolute;
	left:100px;
	top:200px;
	border:#000 solid 1px;
	outline:none;
}